## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<style>
  .wrapper-footer {
    background-color: #61514e;
    width: 100%;
    padding: 0;
  }

  #footer-openedx .colophon {
    width: 80%;
  }
  .copyright {
    border-top: 1px solid #f1f1f1;
    color: #474747;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .wrapper-footer footer#footer-openedx ul a {
    color: #474747;
  }

  .wrapper-footer footer#footer-openedx a:hover {
    border-bottom: 1px dotted #f1f1f1;
  }

#footer-openedx .footer-about-openedx {
  float: right;
  width: 20%;
  margin: 0;
  padding: 0;
}

.footer-column {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: blue;
  min-height: 250px;
  font-family: Ariel;

}

.footer-row {
  color: #474747;
  background-color: yellow;
}

.footer-row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .footer-column {
        width: 100%;
    }
}

.footer-footer {
  width: 100%;
  border-top: 1px solid #f1f1f1;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-column h6 {
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #f1f1f1;
  color: #474747;
  font-family: inherit;
  text-align: left;
}
.footer-column ul {
  text-align: left;
  font-family: inherit;
}
.footer-column li {
  list-style-type: none;
  font-family: inherit;
  font-weight: 400;
  line-height: 125%;
}
</style>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    % if bidi:
      dir=${bidi}
    % endif
  >

    <div class="footer-row">
      <div class="footer-column">
        <h6></h6>
        <img src="logo_banorte_footer.png" alt="Banorte logo" width="45%" />
        <img src="atentamente-logo.png" alt="Atentamente logo" width="45%" />
      </div>
      <div class="footer-column">
        <h6>ENLACES</h6>
        <ul>
          <li><a href='http://atentamente.mx/' target='_blank'>AtentaMente.mx</a></li>
          <li><a href='http://www.lidereseducativosbanorte.com/' target='_blank'>Lideres Educativos Banorte.com</a></li>
          <li><a href='http://www.fundacionbanorte.com' target='_blank'>Fundación Banorte.com</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h6>CONTACTO</h6>
        <ul>
          <li>Tamaulipas #236, interior 502 Col. Hipódromo</li>
          <li>CDMX</li>
          <li>+55 9688-6479 *55 7587-6143</li>
          <li>info@atentamente.mx</li>
        </ul>
      </div>
    </div>

    <div class="footer-footer">
      <div class="colophon">
        <nav class="nav-legal" aria-label="${_('Legal')}">
          <ul>
            % for item_num, link in enumerate(footer['legal_links'], start=1):
              <li class="nav-legal-0${item_num}">
                <a href="${link['url']}">${link['title']}</a>
              </li>
            % endfor
            <li><a href="${footer['edx_org_link']['url']}">${footer['edx_org_link']['text']}</a></li>
          </ul>
        </nav>
        <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>
      </div>

      <div class="footer-about-openedx">
        <p>
          <a href="${footer['openedx_link']['url']}">
            <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
          </a>
        </p>
      </div>
    </div>
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
