## mako
<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='static_content.html'/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

# App that handles subdomain specific branding
from branding import api as branding_api
%>

<style>
/* ====================================================================
   Begin: Added by McDaniel Aug-2017
   Landing page customizations and responsive styling
 * ==================================================================== */
.custom-header {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.custom-header a {
  text-decoration: none !important;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}
/********** ETLA Header **********/
@media (max-width: 1000px) {
  .custom-header {
    visibility: hidden;
    height: 0px;
  }
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
}
/* ====================================================================
   End: Added by McDaniel Nov-2017
   Landing page customizations and responsive styling
 * ==================================================================== */
</style>

<!-- begin: Added by mcdaniel -->
<div class="custom-header" >
  <a href="${marketing_link('ROOT')}">
    <%block name="navigation_logo">
    <img src="${branding_api.get_logo_url(is_secure)}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
    </%block>
  </a>
</div>
<!-- end: Added by mcdaniel -->

<%namespace name='static' file='static_content.html'/>
<%include file="${static.get_template_path(relative_path='navigation/navigation.html')}"  args="online_help_token=online_help_token"  />
