<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Código de honor</h1>

        <p>Los valores fundamentales que nos guían y encauzan nuestras decisiones son:</p>

        <ul>
          <li>
            Ayudamos a las personas.<br />
            Tendemos la mano a los demás. Creemos que para mejorar a las organizaciones, comunidades y sociedad en general se parte de una transformación interior individual.
          </li>

          <li>
            Desarrollamos contenido con sustento científico y trabajamos de forma profesional.<br />
            Compartimos conocimiento útil que ha sido validado y probado en distintos frentes y nos aseguramos de ofrecer productos y servicios de calidad mundial.
          </li>

          <li>
            Actuamos para ser autosustentables.<br />
            Cada acción que tomamos nos encamina a ser una organización que se vale por sí misma, para permitirnos crecer y mantener continuidad en el tiempo.
          </li>

          <li>
            Nuestro comportamiento es un ejemplo.<br />
            El entrenamiento mental es parte esencial de quienes somos. Nuestras acciones se alinean a lo que pensamos y sentimos. Nos comunicamos sin violencia y tratamos a los demás con consideración.
          </li>

          <li>
            Somos parte de una comunidad.<br />
            Somos parte de algo más grande que nosotros y por ello entendemos la relevancia de la colaboración y el respeto hacia nosotros mismos, los demás y el medioambiente.
          </li>

          <li>
            Trabajamos en equipo y crecemos juntos.<br />
            Somos una familia que se escucha con atención y que habla con asertividad. Aprendemos unos de otros y pensamos en el bien común. Compartimos los buenos tiempos y nos ayudamos a hacer más ligeros los difíciles.
          </li>

          <li>
            Ponemos nuestro talento al servicio de la organización.<br />
            Nuestra diversidad nos hace fuertes. Compartimos nuestra experiencia, conocimientos, intereses y talentos con la organización y colaboramos de la forma en la que aportamos más.
          </li>

          <li>
            Nos conducimos con la mente y el corazón.<br />
            Sabemos que una conducta cabal incluye una mente clara y un corazón cálido.  Tomamos decisiones con la mente y el corazón en equilibrio.
          </li>

          <li>
            Vivimos en equilibrio.<br />
            Aplicamos lo que enseñamos. Buscamos mantener el balance entre las distintas áreas de nuestra vida, reconociendo que no se puede dar lo que no se tiene y por ello, el bienestar comienza con uno mismo.
          </li>

        </ul>
    </section>
</main>
