/* ====================================================================
   Begin: Added by McDaniel Aug-2017
   Landing page customizations and responsive styling
 * ==================================================================== */
.custom-header {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.custom-header a {
  text-decoration: none !important;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}
/********** ETLA Header **********/
@media (max-width: 1000px) {
  .custom-header {
    visibility: hidden;
    height: 0px;
  }
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
}
/* ====================================================================
   End: Added by McDaniel Nov-2017
   Landing page customizations and responsive styling
 * ==================================================================== */
